body{
    background-color:bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title{
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80vh;
}

#battle-button{
    height:150px;
    width: 250px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    border-radius: 8%;
}

#battle-button:hover{
    background-color: rgb(235, 208, 208);
}

#battle-button:active{
    transform: translateY(3px);
}

#view-players-button{
    height: 150px;
    width: 250px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    border-radius: 8%;
}

#view-players-button:hover{
    background-color: rgb(235, 208, 208);
}

#view-players-button:active{
    transform: translateY(3px);
}

#battle-options{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.user1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#selection-title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.users{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}